* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: powderblue;
}
nav {
    display: flex;
    position: fixed;
    width: 100%;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: #966a76d5;
}
nav ul li {
    list-style: none;
    font-size: 25px;
    padding: 10px 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
}
nav ul li a {
    text-decoration: none;
    color: black; 
}
nav ul li:hover {
    background-color: white;
    cursor: pointer;
    height: 100%;
}
nav ul li a:hover {
    text-decoration: none;
}
@media all and (max-width: 500px) {
    nav > ul {
        flex-direction: column;
    }
    nav ul li {
        width: 50%;
    }
}
section {
    padding: 40px 2px 45px 2px;
    border-style: hidden;
    text-align: center;
    width: 100%;
    background-color: #ECE8E8;
    height: auto;
}
#aboutMe {
    background-image: url("computer.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%, cover;
    color: black;
    background-color: rgb(252, 252, 252);
    min-height: 500px;
    padding-top: 150px;
    font-size: 35px;
}
h3 {
    padding: 10px;
    font-variant: small-caps;
}
.projecttiles {
    display: flex;
    justify-content: center;
} 
.projectLinks {
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    border: 2px solid rgb(82, 81, 81);
    height: 220px;
    width: 280px;
    margin: 40px 100px;
    border-radius: 5px;
    background-color: white;
}
.project-pic {
    width: 100%;
    height: 180px;
    border-bottom: 2px solid rgb(82, 81, 81);
  }
  .project-pic-title {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    font-style: italic;
    color: black;
    text-transform: uppercase;
    vertical-align: middle;
    text-decoration-style: none;
}
.projectDescription {
    font-size: 20px;
    color: rgb(56, 56, 56);
    font-family: "Comic Sans MS", cursive, sans-serif;
    }
#contactMe {
    background-color: rgb(252, 252, 252); 
}
#footer {
    background-color: #966a76d5;
}
.user-input {
    margin-top: 10px;
}
input[type="text"], input[type="email"] {
    width: 200px;
    height: 25px;
    padding-left: 15px;
    font-size: 15px;
    letter-spacing: 2px;
}
textarea {
    height: 150px;
    width: 400px;
    padding-left: 15px;
}
#aboutMe > p {
    width:500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.portfolio-pic {
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 300px;
    border: 2px solid white;
}
.profileLink {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 0 10px;
}
#submit {
    width: 80px;
    height: 40px;
    background-color: tan;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}
