* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: powderblue;
}
nav {
    position: fixed;
    width: 100%;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    background-color: #966a76d5;
}
nav ul li {
    list-style: none;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    padding: 10px 40px;
}
nav ul li a {
    height: 100%;
    text-decoration: none !important;
    color: black;
}
nav ul li:hover {
    background-color: white;
    cursor: pointer;
    height: 100%;
}
@media only screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        padding: 5px 5px;
    }
    nav ul li:hover {
        background-color: transparent;
    }
    nav ul li a:hover {
        color: white;
    }
    .projectsection {
        display: flex;
        flex-direction: column;
    }
}

#aboutMe {
    display: flex;
    object-fit: contain;
    background-image: url("computer.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%, cover;
    color: black;
    background-color: rgb(252, 252, 252);
    min-height: 500px;
    padding-top: 150px;
    font-size: 35px;
}
#aboutMe > p {
    width:500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
h3 {
    padding: 10px;
    font-variant: small-caps;
}
#projectsection {
    padding: 40px 2px 45px 2px;
    border-style: hidden;
    text-align: center;
    width: 100%;
    background-color: #ECE8E8;
    height: auto;
}
@media only screen and (min-width: 950px){
    .projectsection {
        padding: 0;
    }
    .projecttiles {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    } 
}
.projects {
    margin: 10px 75px;
}
.projectLinks {
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    height: 235px;
    width: 280px;
    margin: 40px 100px;
    border-radius: 5px;
    background-color: white;
}
.project-pic {
    width: 100%;
    height: 180px;
    border-bottom: 2px solid white;
  }
.project-pic-title {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    font-style: italic;
    color: black;
    text-transform: uppercase;
    vertical-align: middle;
    margin-top: 20px;
}
.projectDescription {
    font-size: 20px;
    color: rgb(56, 56, 56);
    font-family: "Comic Sans MS", cursive, sans-serif;
    }
.portfolio-pic {
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 300px;
    border: 2px solid white;
    }
.profileLink {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 0 10px;
}
a:hover {
    text-decoration: none !important;
    transform: scale(1.2);
}
footer {
    background-color: #966a76d5;
    padding: 40px 2px 45px 2px;
    border-style: hidden;
    text-align: center;
    width: 100%;
    height: auto;
}
/* #contactMe {
    background-color: rgb(252, 252, 252); 
}
.user-input {
    margin-top: 10px;
}
input[type="text"], input[type="email"] {
    width: 200px;
    height: 25px;
    padding-left: 15px;
    font-size: 15px;
    letter-spacing: 2px;
}
textarea {
    height: 150px;
    width: 400px;
    padding-left: 15px;
}
#submit {
    width: 80px;
    height: 40px;
    background-color: tan;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    margin-top: 15px;
} */
